@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <section>
        <header>
            <h1>Первый контрол</h1>
            <nav>
                <a asp-action="Index">Home</a>
                <a asp-controller="Info"
                   asp-action="IndexInfo">Info</a>
            </nav>
        </header>

    </section>
    <div>
        @ViewBag.Greeting World (from the view)
    </div>
    <div class="text-center">
        <h3>We`re going to have an exciting party!</h3>
        <h4>And you are inveted</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
    </div>

</body>
</html>
